 *{
     outline:0;
 }
body{
    background-color:#004c58;
    color:#eee;
}
.container{
    max-width:600px;
    margin:0 auto;
    position: relative;
    padding:0 10px;
}
h1{
    margin:70px 0 25px;
    text-align:center;
}
/*.add-task{
    height:30px;
    line-height:30px;
}*/
.add-task>input{ 
    text-indent: 15px;
    box-sizing: border-box;
    float:left;
    width:80%;
    margin-right:2%;  
    background-color: #fff;
    height:38px;
    border:0;
    border-radius:5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);
}
.add-task>input:focus{
    background-color: #fff;
}
.add-task>button{
    box-sizing: border-box;
    width:18%;
    cursor:pointer;
    background-color: #3d9a33;
    height:38px;
    color:#333;
    border:0;
    border-radius:3px;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);
}
.add-task>button:hover{
    transition: background-color .5s ease-out;
    background-color: #31b1ef;
}
.task-list{
    list-style: none;
    /*margin:0;*/
    padding:0;
}
.task-item{
    padding:10px;
    background-color: #fff;
    color:#333;
    margin-bottom:15px;
    border-radius:5px;
    box-shadow:0 3px 3px rgba(0,0,0,.4);
    cursor: pointer;
    transition: background-color .5s ease-out;
}
.task-item:hover{
    background-color: #f1dbc5;
}
.task-detail{
    position: absolute;
    display:none;
    color:#333;
    background-color: #eee;
    width:50%;
    height:400px;
    top:60px;
    right:0;
    padding:0;
}
.task-detail .content{
    /*padding-top:50px;*/
    /*padding-left:54px;*/
    background-color: #eee;
    display:block;
    width:250px;
    margin:30px auto 0;
    font-weight: 900;
    font-style:italic;
    border:none;
    border-bottom:1px solid #eee;
    padding-bottom:6px;
    /*cursor: pointer;*/
}
.task-detail .desc{
    display:block;
    width:230px;
    height:200px;
    margin:20px auto;
    padding:10px;
    background-color: #eee;
    font-size:16px;
    line-height: 30px;
}
.task-detail .remind{
    width:252px;
    margin:0 auto;
    /*padding-left:54px;*/
    /*margin-top:-15px;*/
}
.task-detail .remind .date{
    width:170px;
}
.task-detail .remind .desc-submit{
    float:right;
    width:60px;
    height:28px;
}
.task-detail-mask{
    position: fixed;
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(30,30,30,.5);
}
.fr{
    float:right;
}
.action{
    color:#888;
    font-size:90%;
}
.action:hover{
    color:#333;
}
.task-content{
    padding-left:5px;
}
.clear input{
    margin-top:10px;
    border-radius:5px;
    width:90px;
    height:30px;
    font-size:14px;
    margin-right:10px;
}
.task-item.completed{
    color:#aaa;
    /*background-color: rgba(255,255,255,.7)*/
    background-color: #ccc;
    opacity: 0.4;
}
.task-item.completed:after{
    content:'';
    display:block;
    position: relative;
    top:-9px;
    height:1px;
    background-color: #aaa;
    margin-left:22px;
}